* {
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
}

.App {
  display: flex;
  height: 100vh; /* Ensure the entire viewport height is covered */
}

.split {
  height: 100%;
  width: 50%;
  overflow: hidden; /* Ensure content does not overflow */
}

.left {
  float: left;
}

.right {
  float: right;
}

.Speech-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 20px;
  padding: 10px;
  background-color: #ffffff2d;
  border-radius: 5px;
  border-color: rgb(20, 22, 154) 5px Solid;
  }

.webcam-container {
  background-color: #ffffff2d;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width :100%
}

.webcam {
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  color: #555;
  margin-bottom: 20px;
  }

p {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #1f71dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #06093b;
  transition: 0.5s;
}

.button-names {
  margin-bottom: 20px;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .Speech-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .webcam-container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
