* {
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
}

.App {
  display: flex;
  height: 100vh;
}

.split {
  overflow: hidden;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.Speech-container,
.Question-container {
  width: 90%;
  max-width: 600px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffffff2d;
  border-radius: 5px;
  border: 5px solid rgb(20, 22, 154);
}

.webcam-container {
  background-color: #ffffff2d;
  border: 5px solid rgb(20, 22, 154);
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 90%;
  margin-top: 90px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  align-items: center;
  margin-left: 60px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #1f71dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #06093b;
  transition: 0.5s;
}

.button-names {
  margin-bottom: 20px;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  
  

  .split {
    width: 50%; /* Adjust to your preference */
  }

  .left {
    order: 2;
    width: 100%;
  }

  .right {
    order: 1;
    width: 100%;

  }

  /* Adjust width of Speech-container and Question-container for phone screens */
  .Speech-container,
  .Question-container {
    width: 100%; /* Adjust to your preference */
    max-width: 400px; /* Adjust to your preference */
    margin-top: 100px; /* Adjust to your preference */
  }
  
  .webcam-container {
    width: 90%; /* Adjust to your preference */
    margin-top: 60px; /* Adjust to your preference */
    margin-left: auto;
    margin-right: auto;
  }
}
