@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #000000;
}

.app-2 {
  display: flex;
  height: 100vh; 
}

.split {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.speech-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:400px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  border:1px solid #1814ff;
}

.speech-container > p{
  font-family: 'Poppins',sans-serif;
}


.webcam-container {
  background-color: #ffffff2d;
  border: 1px solid #1814ff;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width :100%
}

.webcam {
  max-width: 100%;
  border-radius: 10px;
}

h2 {
  color: #555;
  margin-bottom: 20px;
  }

p {
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #911fdd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Poppins',sans-serif;
}

button:hover {
  background-color: #06093b;
  transition: 0.5s;
}

.button-names {
  margin-bottom: 20px;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .speech-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .webcam-container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
